<form action="/my-handling-form-page" method="post">
    
    <div>
        <label for="Appliqant">Appliqant</label>
    </div>

    <div>
        <label for="Dummy file to test click on take interview button">Dummy file to test click on take interview button</label>
    </div>
    <div>
        <label for="This should trigger os to open app if it is already downloaded on device,">This should trigger os to open app if it is already downloaded on device</label>
    </div>
    
    <div class="button">
        <button formaction="appliqant://?id=5vcx2cytm4">Take Interview</button>
    </div>
</form>
